body {
    -webkit-font-smoothing: antialiased;
}

#log {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 32px;
    width: 100%;
    overflow: auto;
}

#log .message-item {
    padding: 5px;
    margin-bottom: 10px;
}

#log .message-item p {
    margin: 0;
}

#log .message-item.reply {
    background-color: #E1E7ED;
}

#log .message-item .from {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
    color: #888;
    font-weight: 700;
}

#log .message-item .message {
}

#form {
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#form .form-inner {
}

#form .form-inner [type="text"] {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: 0;
    outline: none;
}

.hide {
    display: none;
}
