<html>
<head>
    <title>Chat Example</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css">
</head>
<body>

<div id="log"></div>

<form id="form">
    <input type="submit" value="Send" />
    <input type="text" id="msg" size="64"/>
</form>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/js/detector.js"></script>
<script type="text/javascript" src="/assets/js/md5.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>
